@model Currency
@{
    ViewData["Title"] = "Edit";
}

<div class="container p-3 rounded-xl shadow">
    <div class="row mb-3">
        <div class="col-12 pb-3">
            <h2 class="text-2xl font-semibold">Edit Currency</h2>
        </div>
        <hr />

    </div>

    <form method="post" asp-action="Edit">
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control -py-2" placeholder="Currency Name">
            <label asp-for="Name">Currency Name</label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn py-2 text-white font-medium" style="width: 150px; background-color: #F05537">Update</button>
            <a asp-controller="Currency" asp-action="Index" class="btn btn-secondary py-2" style="width:150px">
                Back to List
            </a>
        </div>
    </form>

</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

